.container-text{
    display: flex;
}
.text-box-intro{
    width: 60%;
    margin-left: 4rem;
    margin-top: 8.5rem;
    color: white;
}

.text-box-intro h2{
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
}

.text-box-intro p{
    font-size: 22px;
    width: 80%;
    margin-top: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

button{
    width: 250px;
    margin-top: 2rem;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    border: none;
    height: 45px;
    border-radius: 20px;
    background: rgb(255, 52, 52);
    color: white;
    cursor: pointer;
}